nav {
	width: 100vw;
	height:auto;
	max-width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	display: grid;
	padding: var(--standard-unit) var(--standard-unit) 0 var(--standard-unit);
	/* background-color: var(--bkg); */
	/* background-color: rgba( 255, 255, 255, 0.25 ); */
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	backdrop-filter: blur( 15.0px );
	-webkit-backdrop-filter: blur( 15.0px );
	z-index: 50;
}

nav > div.logo-container-nav {
	height: var(--standard-unit);
	grid-area: 1 / 2 / 2 / 3;
}

nav > div.logo-container-nav > img {
	height: 100%;
	width: auto;
}

nav > div#search-zone {
	grid-area: 1 / 3 / 2 / 4;
	height: 100%;
	width: 300px;
	max-width: 100%;
	border: none;
	border-bottom: 1px solid var(--bkg-important);
}

nav > div#search-zone form {
	height: 100%;
	width: 100%;
}

nav > div#search-zone form input {
	border: none;
	background-color: transparent;
	color:var(--primary);
	font-size: 1.17rem;
	padding: 0 var(--small-unit);
	height: 100%;
	width: 100%;
}

nav > div#search-zone form input:focus {
	outline: transparent;
}

nav div#all-skills-zone {
	grid-area: 2 / 1 / 3 / 5;
	height: 'auto';
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.25s ease-in;
}

nav div#toggle-all-skills-zone {
	grid-area: 3 / 1 / 4 / 5;
	display: grid;
	place-items: center;
	padding: var(--small-unit) 0;
}

nav div#toggle-all-skills-zone button#toggle-all-skills-btn {
	height: calc(var(--small-unit)*1.5);
	width: calc(var(--small-unit)*1.5);
	border: none;
	border-radius: 50%;
	padding: 0;
}

nav div#toggle-all-skills-zone button#toggle-all-skills-btn svg {
	transform: rotate(-90deg);
	transition: transform 0.25s ease-in-out;
}

nav div#toggle-all-skills-zone button#toggle-all-skills-btn.down svg {
	transform: rotate(-90deg);
}

nav div#toggle-all-skills-zone button#toggle-all-skills-btn.up svg {
	transform: rotate(90deg);
}

