:root {
	--primary: #555;
	--primary-important: #333;
	--bkg: #fff;
	--bkg-important: #fee;
	--secondary: #e74b4b;
	--bkg-dark-mode-toggler: #fee;
	--standard-unit: 2.5rem;
	--small-unit: 1rem;
	--large-unit: 5rem;
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', monospace;
	color: var(--primary);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bkg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-important)
}

p {
	color: var(--primary)
}

section {
	width: 100vw;
	max-width: 100%;
	height: auto;
}

.italic {
	font-style: italic;
}



