:root {
	--primary: #555;
	--primary-important: #333;
	--primary-night-mode-important: #ddd;
	--primary-night-mode: #fff;
	--secondary: #e74b4b;
	--standard-unit: 20px;
	--page-padding: 30px;
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', monospace;
	color: var(--primary);
}

body {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-important)
}

section {
	width: 100vw;
	max-width: 100%;
	height: auto;
}

/* HORIZONTAL-SCROLL CONTAINER */
div.horizontal-scroll-container {
	padding: var(--standard-unit);
	height: auto;
	width: 100vw;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	overflow-x:scroll;
	white-space: nowrap;
}

div.horizontal-scroll-container > article {
	margin-right: var(--standard-unit);
	display: grid;
	grid-template-columns: auto auto;
}

div.horizontal-scroll-container > article:last-child {
	margin-right: 0;
	border-right: solid var(--standard-unit) transparent;
}

div.horizontal-scroll-container > article > div.img-container {
	height: 100px;
	width: 100px;
}

div.horizontal-scroll-container > article > div.img-container >  img {
	height: 100%;
	width: auto;
}


